body, h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans TC', sans-serif!important;
}
.ui.button {
  font-family: 'Noto Sans TC', sans-serif!important;
  font-weight: 400;
}
.ui.menu {
  font-family: 'Noto Sans TC', sans-serif!important;
}
i.icon {
  width: auto; /* fix icon will padding right on iOS */
}
/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: table;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
snav .item {
  line-height: 3!important;
}
/* Navbar - act1 when on the top, act2 for the rest of condictions */
nav.act1 {
  padding-top: 30px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0);
}
nav.act2 {
  padding-top: 9px;
  height: 85px;
  background-color: rgba(0, 28, 49, 0.98);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
/* Navbar - item color */
nav.act1 a.item {
  color: rgba(0, 28, 49, 0.75)!important;
}
nav.act2 a.item {
  color: rgba(240, 240, 240, 0.65)!important;
}
/* Navbar - right item color */
nav.act1>div>div>a.desktop {
  font-weight: bold!important;
  color: rgba(0, 28, 53, 1)!important;
}
nav.act2>div>div>a.desktop {
  font-weight: bold!important;
  color: rgba(235, 235, 235, 1)!important;
}
/* Navbar - hover item color */
nav.act1 a.item:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: rgba(0, 28, 49, 1)!important;
}
nav.act2 a.item:hover, nav.act2 a.item.active {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: rgba(240, 240, 240, 1)!important;
}
/* Section1 */
.section1 {
  height: 90vh;
  padding: 150px 13% 5% 13%;
  background-color: #bdbdbd;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section1-content {
  height: 90vh;
  width: 100%;
}
.img-text {
  width: 370px;
}
.img-logo {
  width: 450px;
  filter: alpha(opacity=20);
  opacity: 0.2;
  position: absolute;
  top: 10%;
  right: 70px;
  z-index: 0;
}
iframe {
  /* position fixes the iframe will be covered by castel on desktop */
  position: relative;
  margin-right: 25%;
  margin-left: 25%;
  z-index: 1;
}


.ui.statistics>.statistic {
  margin: 0 0.9em 2em;
}

.dropdownContainer {
  /* push down div */
  display: -webkit-flex;
  display: flex;
  top: 0;
  height: 0;
  transform: translateY(50%);
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.dropdownBtn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: white;
  box-shadow: 5px 5px 44px -4px rgba(0,0,0,0.7);
}

.cardSection1 {
  height: auto;
  background: -webkit-radial-gradient(rgba(0,64,112,1), rgba(0,30,49,1));
  background:    -moz-radial-gradient(rgba(0,64,112,1), rgba(0,30,49,1));
  background:      -o-radial-gradient(rgba(0,64,112,1), rgba(0,30,49,1));
  background:   radial-gradient(rgba(0,64,112,1), rgba(0,30,49,1));
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.cardContent {
  height: auto;
  width: 75vw;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(236, 239, 241, 0.85);
  border-radius: 7px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 3rem;
}
.cardContent:hover {
  box-shadow: 10px 15px 44px -4px rgba(0,0,0,0.7);
}
.cardContent p {
  font-size: 20px;
  line-height: 38px;
}
section>content>h1 {
  color: rgba(0, 28, 49, 0.75);
}
.img-slipper {
  width: 800px;
  margin-bottom: -800px;
  filter: alpha(opacity=10);
  opacity: 0.1;
  position: inherit;
  z-index: 0;
  transform: translateY(-90%);
  margin-left: 45%;
}
content>h2>p {
  padding-left: 15px;
}
.buttonSec {
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-flex;
  display: flex;
  /* Flexbox - vertical center */
  align-items: center;
  /* Flexbox - space between all elements */
  justify-content: space-between;
}
.buttonSec button {
  margin: 15px!important;
}
@media only screen and (max-width: 1375px) {
  .img-slipper {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 1278px) {
  .img-slipper {
    margin-left: 35%;
  }
}
@media only screen and (max-width: 1188px) {
  .img-slipper {
    width: 750px;
    margin-bottom: -750px;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 1060px) {
  .cardContent {
    width: 83vw;
  }
  .img-slipper {
    width: 720px;
    margin-bottom: -720px;
  }
}
@media screen and (max-width: 1000px) {
  .section1 {
    height: 800px;
    padding: 150px 0% 5% 0%;
  }
  .section1-content {
    display: flex;
    height: 800px;
    flex-direction: column;
    -webkit-align-content: center;
            align-content: center;
    -webkit-align-items: center;
            align-items: center;
  }
  #countdownDIV {
    display: none;
  }
  iframe {
    margin-right: 0%;
    margin-left: 0%;
  }
  .img-logo {
    top: 23%;
  }
}
@media only screen and (max-width: 987px) {
  .img-slipper {
    margin-left: 25%;
  }
}
@media only screen and (max-width: 950px) {
  .cardContent {
    width: 87vw;
    padding: 1.8rem;
  }
  .img-slipper {
    margin-left: 20%;
  }
}
@media screen and (max-width: 768px) {
  .img-slipper {
    width: 680px;
    margin-bottom: -680px;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 640px) {
  .cardContent {
    width: 90vw;
  }
  .img-text{
    width: 300px;
  }
  iframe {
    width: 336px;
    height: 189px;
  }
  .section1 {
    height: 700px;
  }
  .img-logo {
    width: 400px;
    top: 28%;
  }
  .cardContent p {
    font-size: 18px;
    line-height: 28px;
  }
  .img-slipper {
    width: 660px;
    margin-bottom: -660px;
    margin-left: 15%;
    transform: translateY(-79%);
  }
}
@media only screen and (max-width: 580px) {
  .img-slipper {
    margin-left: 6%;
  }
}
@media only screen and (max-width: 550px) {
  .cardContent {
    width: 93vw;
  }
  .cardContent {
    font-size: 16px;
  }
  .img-slipper {
    margin-left: 2%;
  }
  .buttonSec {
    flex-direction: column;
  }
}
@media only screen and (max-width: 440px) {/* iPhone 5 */
  .img-slipper {
    margin-left: -40%;
  }
}
