html {
  font-family: 'Noto Sans TC', sans-serif!important;
}
i.icon {
  width: auto; /* fix icon will padding right on iOS */
}
/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: table;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
snav .item {
  line-height: 3!important;
}
/* Navbar - act1 when on the top, act2 for the rest of condictions */
nav.act1 {
  padding-top: 30px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0);
}
nav.act2 {
  padding-top: 9px;
  height: 85px;
  background-color: rgba(0, 28, 49, 0.98);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
/* Navbar - item color */
nav.act1 a.item {
  color: rgba(0, 28, 49, 0.75)!important;
}
nav.act2 a.item {
  color: rgba(240, 240, 240, 0.65)!important;
}
/* Navbar - right item color */
nav.act1>div>div>a.desktop {
  font-weight: bold!important;
  color: rgba(0, 28, 53, 1)!important;
}
nav.act2>div>div>a.desktop {
  font-weight: bold!important;
  color: rgba(235, 235, 235, 1)!important;
}
/* Navbar - hover item color */
nav.act1 a.item:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: rgba(0, 28, 49, 1)!important;
}
nav.act2 a.item:hover, nav.act2 a.item.active {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: rgba(240, 240, 240, 1)!important;
}
/* sNavBar */

/* Section1 */
.section1 {
  height: 90vh;
  padding: 150px 13% 5% 13%;
  background-color: #bdbdbd;
}
.section1-content {
  height: 90vh;
  width: 100%;
}
.img-text{
  width: 370px;
}
iframe {
  margin-right: 25%;
  margin-left: 25%;
}
@media screen and (max-width: 1000px) {
  .section1 {
    height: 800px;
    padding: 150px 0% 5% 0%;
  }
  .section1-content {
    display: flex;
    height: 800px;
    flex-direction: column;
    -webkit-align-content: center;
            align-content: center;
    -webkit-align-items: center;
            align-items: center;
  }
  #countdownDIV {
    display: none;
  }
  iframe {
    margin-right: 0%;
    margin-left: 0%;
  }
}
.ui.statistics>.statistic {
  margin: 0 0.9em 2em;
}
.dropdownContainer {
  /* push down div */
  display: -webkit-flex;
  display: flex;
  top: 0;
  height: 0;
  transform: translateY(50%);
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.dropdownBtn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background-color: white;
    box-shadow: 5px 5px 44px -4px rgba(0,0,0,0.7);
}

.cardSection {
  height: 100vh;
  background-color: rgba(0, 28, 49, 0.9);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.cardContent {
  height: 90vh;
  width: 75vw;
  background-color: #eceff1;
  border-radius: 7px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 3rem;
}
.cardContent:hover{
  box-shadow: 10px 15px 44px -4px rgba(0,0,0,0.7);
}
section>content>h1 {
  color: rgba(0, 28, 49, 0.75);
}
@media only screen and (max-width: 1060px) {
  .cardContent {
    width: 83vw;
  }
}
@media only screen and (max-width: 950px) {
  .cardContent {
    width: 87vw;
    padding: 1.8rem;
  }
}
@media screen and (max-width: 760px) {

}
@media only screen and (max-width: 640px) {
  .cardContent {
    width: 90vw;
  }
  .img-text{
    width: 300px;
  }
  iframe {
    width: 336px;
    height: 189px;
  }
}
@media only screen and (max-width: 550px) {
  .cardContent {
    width: 93vw;
  }
}
