html {
  font-family: 'Noto Sans TC', sans-serif!important;
}
/* Full screen center */
.cardContainer {
  height: 100vh;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.bg {
  background-image: url(../img/castel.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: right 40px bottom 40px;
  background-color: #e0e0e0;
}
/* card */
.loginCard {
  position: relative;
  width: 38vw;
  background-color: rgba(0,28,49,0.93);
  box-shadow: 10px 15px 44px -4px rgba(0,0,0,0.7);
}
/* card-fix */
.card {
  border-radius: 9px;
}

/* card */
.logoContainer {
  /* push up img */
  top: 0%;
  position: absolute;
  transform: translateY(-66.66666%);
}
.logo {
  width: 30%;
  height: 30%;
  /* Center the img */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardTitle {
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
}
.cardContent {
  padding: 20px;
}
.cardContent p {
  margin: 0;
  color: inherit;
}
.cardAction {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 20px;
  border-radius: 9px;
}
.cardAction>a {
  color: #ffab40;
  margin-right: 18px;
  transition: color .3s ease;
  text-transform: uppercase;
}
.cardAction a:hover {
  color: #ffd8a6;
}


/* form-fix */
form>div>span {
  line-height: 40px;
  vertical-align: middle;
}
.choose {
  /* Flexbox */
  display: flex;
  padding-bottom: 1em;
  align-items: center;
}
.input-field label {
  left: 0rem;
}
.submitIt {
  vertical-align: middle;
}
/* focus color: icon, input, label */
.input-field .prefix.active, .input-field input:focus, .input-field label.active {
  color: #ffab40!important;
}
/* label underline focus color */
.input-field input[type=email]:focus, .input-field input[type=number]:focus {
  border-bottom: 1px solid #ffab40;
  box-shadow: 0 1px 0 0 #ffab40;
}
/* radioBtn - inner color */
[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #ffab40;
  background-color: #ffab40;
}
/* radioBtn - outer color */
[type="radio"].with-gap:checked+label:before {
  border: 2px solid #ffab40;
}

.whiteText {
  color: #fff;
}
@media only screen and (max-width: 1060px) {
  .loginCard {
    width: 60vw;
  }
  .bg {
  background-position: right 30px bottom 25px;
  }
}
@media only screen and (max-width: 970px) {
  .loginCard {
    width: 55vw;
  }
  .bg {
    background-size: 30%;
  }
}
@media screen and (max-width: 648px) {
  .choose {
    flex-direction: column;
  }
}
@media only screen and (max-width: 640px) {
  .loginCard {
    width: 91vw;
  }
  .bg {
    background-size: 40%;
    background-position: right 5px bottom 5px;
  }
  .cardContainer {
    height: 800px;
  }
}
@media only screen and (max-height: 710px) {
  .cardContainer {
    height: 800px;
  }
}
