html {
  font-family: 'Noto Sans TC', sans-serif!important;
  font-weight: 100;
  color: rgba(0, 28, 49, 1);
}
h2 {
  font-weight: 200;
}
h3 {
  font-weight: 300;
  margin: 0.4rem 0 2.3rem 0;
}
h4, h5 {
  font-weight: 100;
}
hr {
  transform: translateY(-13px);
}
footer {
  font-weight: normal;
}
.content {
  padding: 3% 8% 0 8%;
}

.msgDiv-danger {
    border-left-color: #d9534f!important;
}
.msgDiv-warning {
    border-left-color: #f0ad4e!important;
}
.msgDiv-info {
    border-left-color: #5bc0de!important;
}
.msgDiv-danger h5 {
    color: #d9534f;
}
.msgDiv-warning h5 {
    color: #f0ad4e;
}
.msgDiv-info h5 {
    color: #5bc0de;
}
.msgDiv {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.msgDiv h5 {
  font-weight: 200;
}
.msgDiv b {
  font-weight: 500;
  padding-left: 2%;
}

/* Banner */
.bannerContainer {
  position: inherit;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 28, 49, 0.9), rgba(0, 20, 35, 1));
}
.banner {
  padding: 8% 0 8% 8%;
}
@media screen and (max-width: 648px) {
  .bannerContainer {
    height: 50vh;
  }
}
/* Sections */
.secContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: baseline;
    -webkit-box-align: baseline;
       -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-align-content: flex-start;
     -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-left: 0.5%;
}
.formTitle {
  -webkit-box-flex: 1;
      -webkit-flex: 1 0 100%;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%;
}
.secItems-3 {
  -webkit-box-flex: 1;
      -webkit-flex: 1 0 30%;
          -ms-flex: 1 0 30%;
              flex: 1 0 30%;
  margin-left: 1%;
}
.secItems-2 {
  -webkit-box-flex: 1;
      -webkit-flex: 1 0 40%;
          -ms-flex: 1 0 40%;
              flex: 1 0 40%;
  margin-left: 1%;
}
.secItems-1 {
  -webkit-box-flex: 1;
      -webkit-flex: 1 0 100%;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%;
  margin-left: 1%;
}
@media screen and (max-width: 930px) {
  .secContainer {
  -webkit-align-items: stretch;
       -ms-flex-align: stretch;
          align-items: stretch;
    margin-left: 0px;
  }
  .secItems-3 {
    -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
    margin-left: 0%;
  }
  .secItems-2 {
    -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
    margin-left: 0%;
  }
  .secItems-1 {
    margin-left: 0%;
  }
}
/* Fix - label padding-left */
.input-field label {
  left: 0rem;
}
.radioBtn-field {
  position: relative;
  margin-top: 1rem;
}

/* radioBtn Label fix */
.radLbl {
  position: relative;
  top: -25px;
  left: -27px;
  font-size: 0.8rem;
}
/* Two words radioBtn position fix */
.rad {
    margin-top: 1.5rem;
    margin-left: -55px!important;
    margin-bottom: 1.5rem;
}
/* Four words radioBtn position fix */
.rad2 {
    margin-top: 1.5rem;
    margin-left: -80px!important;
    margin-bottom: 1.5rem;
}

/* Fix overflow */
input[type=email].validate+label, input[type=number].validate+label,
input[type=tel].validate+label, input[type=text].validate+label {
  width: auto!important;
}
input.invalid  {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}
.DIVinvalid {
  border: 1px solid #F44336;
  border-radius: 3px;
  transition: .3s ease;
}
.DIVinvalid:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}
/* focus color -  icon, input, label */
.input-field .prefix.active, .input-field input:focus, .input-field label.active {
  color: rgba(0,20,35,1)!important;
}
/* label underline focus color */
.input-field input[type=email]:focus, .input-field input[type=number]:focus,
.input-field input[type=tel]:focus, .input-field input[type=text]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid rgba(0,20,35,1);
  box-shadow: 0 1px 0 0 rgba(0,20,35,1);
}
/* textarea underline color */
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgba(0,20,35,1);
  box-shadow: 0 1px 0 0 rgba(0,20,35,1);
}
/* radioBtn - inner color */
[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
  border: 2px solid rgba(0,20,35,1);
  background-color: rgba(0,20,35,1);
}
/* radioBtn - outer color */
[type="radio"].with-gap:checked+label:before {
  border: 2px solid rgba(0,20,35,1);
}
/* dropdownOptions color */
.dropdown-content li>a, .dropdown-content li>span {
  color: rgba(0,20,35,1);
}
.submit {
  text-align: right;
  padding: 5px 0 15px 9px;
}
.submit>a {
  color: rgba(0,28,49,1);
  margin-right: 18px;
  transition: color .3s ease;
  text-transform: uppercase;
}
.submit a:hover {
  color: rgba(0,28,49,0.6);
}
.submitIt {
  vertical-align: middle;
}
