您好，{{user["name"]}}，這是由程式自動生成的信件，我們已經收到您的報名資訊。 <br>
提醒您，若您以ATM轉帳，記得上網填寫帳號後五碼後，報名程序才算真正結束唷！ <br><br>
我們的繳費資訊如下： <br>
 &nbsp; 銀行代碼：004-001-1000108-6 <br>
 &nbsp; 遠東商銀桃園分行 代碼：8050045<br>
 &nbsp; 帳號：元智大學資訊工程學系系學會黃翊唐 <br>
 &nbsp; 金額：4000元 <br>
後五碼登記頁面：https://yzu2016camp.itaclub.asia/portal/query <br>
繳費查詢頁面：https://yzu2016camp.itaclub.asia/portal/query<br><br>
如有任何問題，歡迎直接回覆這封信件。官網上有大部分的活動資訊，粉絲專頁也會定期更新貼文，請多多利用！ <br>
感謝您的參與！ <br><br><br>
您的報名資訊： <br><br>
基本資料: <br>
  &nbsp;姓名：      {{user["name"]}} <br>
  &nbsp;綽號：      {{user["nickName"]}} <br>
  &nbsp;性別：      {{user["gender"]}} <br>
  &nbsp;連絡電話：   {{user["cellphone"]}} <br>
  &nbsp;電子信箱：   {{user["email"]}} <br><br>

保險所需額外資料：  <br>
  &nbsp;身分證字號：       {{user["userID"]}}<br>
  &nbsp;戶籍地址：         {{user["address"]}}<br>
  &nbsp;緊急聯絡人姓名：   {{user["parentName"]}}<br>
  &nbsp;親屬關係：         {{user["kinship"]}}<br>
  &nbsp;緊急連絡人電話：   {{user["parentCellphone"]}}<br>
  &nbsp;先天性疾病：       {{user["disease"]}}<br><br>

學校資料：<br>
  &nbsp;學號：  {{user["yzuID"]}}<br>
  &nbsp;學系：  {{user["dept"]}}<br><br>

營期所需資料： <br>
  &nbsp;飲食習慣：  {{user["eatingPerf"]}}<br>
  &nbsp;衣服尺寸：  {{user["clothingSize"]}}<br>
  &nbsp;交通方式：  {{user["transportation"]}}<br>
  &nbsp;寢具：      {{user["bedding"]}}<br>
  &nbsp;備註：      {{user["moreInfo"]}}<br>
