<!doctype html>
<html>
<head>
<!-- Metas -->
  <meta charset="utf-8">
  <title>元智大學2016三資迎新 - 查詢頁面</title>
  <meta name="description" content="元智大學 2016 三資迎新，各式查詢都在這裡唷！">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
  <meta name="author" content="Oschangkai, sappy5678">
  <meta name="keywords" content="元智大學, 元智, 三資迎新, yzu2016camp, 霍格華資, 2016, 三資, 資工, 資管, 資傳" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
<!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../static/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/assets/favicon/manifest.json">
  <meta name="theme-color" content="rgba(0,28,49,1)">
  <meta name="msapplication-TileImage" content="../static/assets/favicon/ms-icon-144x144.png">
<!-- CSSs -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  <link rel="stylesheet" href="../static/assets/css/queryStyle.css">
  <link rel="stylesheet" href="../static/assets/css/desktop.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80552556-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PSXGW4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PSXGW4');</script>
<div class="cardContainer bg">
  <card class="card loginCard">
    <!-- Card Content -->
    <div class="logoContainer">
      <a href="https://yzu2016camp.itaclub.asia"><img class="logo" src="../static/assets/img/member-round.png"></a>
    </div>
    <br /><br />
    <div class="cardContent whiteText">
      <p class="cardTitle">2016 三資迎新查詢系統</p>
      <hr />
      <br />
      <!-- Card Form -->
      <form id="K-form">
        <div class="choose" id="chooseDIV" onclick="check()">
          <span>請選擇：</span>
          <span>
            <input class="with-gap" name="choose" value="register" type="radio" id="paymentRadio" />
            <label for="paymentRadio">繳費登記</label>
          </span>
          <span class="desktop">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span>
            <input class="with-gap" name="choose" value="query" type="radio" id="queryRadio" />
            <label for="queryRadio">繳費查詢</label>
          </span>
        </div>
        <div class="input-field" id="emailDIV">
          <i class="material-icons prefix">mail_outline</i>
          <input type="email" name="email" id="emailField" class="validate" data-trigger="change" data-required="true" data-rangelength="[20,200]"></input>
          <label for="emailField" data-error="格式錯誤，請重新輸入" data-success="正確！按下送出查詢">"報名時"所輸入的電子信箱</label>
        </div>
        <br />
        <div class="input-field" id="paymentDIV">
          <i class="material-icons prefix">payment</i>
          <input type="text" name="payment" id="paymentField" class="validate"></input>
          <label for="paymentField" data-error="格式錯誤，請重新輸入" data-success="記得填入電子信箱後再按下送出登記！">
            帳號後五碼"登記"欄</label>
        </div>
      </form>
    </div>
    <div class="cardAction" style="text-align: right;" id="K-submit" onclick="send()">
      <a href="#">送出&nbsp;&nbsp;<i class="material-icons submitIt">send</i></a>
   </div>
 </card>
</div>
<!-- Footer -->
<style type="text/css">
footer {
  height: 100px;
  background-color: rgba(0,28,49,1);
  color: white;
  /* Flexbox */
  display: flex;
  /* Flexbox - vertical center */
  align-items: center;
  /* Flexbox - space between all elements */
  justify-content: space-between;
  /* Give space */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (max-width: 648px) {
  footer {
    flex-direction: column;
    height: 120px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
footer {
  color: rgba(240, 240, 240, 0.65);
}
footer a:link {
  text-decoration:none;
  color: rgba(240, 240, 240, 0.65);
}
footer a:visited {
  text-decoration:none;
  color: rgba(240, 240, 240, 0.65);
}
footer a:active {
　text-decoration:none;
}
footer a:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration:none;
  color: rgba(240, 240, 240, 0.99);
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"></link>
<footer>
  <span>
    <a href="https://fb.com/yzu2016camp"><i class="fa fa-facebook-official" style="font-size: 2em; vertical-align: middle;"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://yzu2016camp.itaclub.asia">Copyright © 元智 2016 三資迎新</a>
  </span>
  <span>
    Logo 設計：2016三資美宣組 Ber興<br />網頁設計：2016三資學術組、<a href="https://www.itaclub.asia/">ITAC</a>
  </span>
</footer>
<!--<div includeHTML="../static/assets/html/footer.html"></div>-->
<!-- Scripts -->
<!--<script src="../static/assets/js/includeHTML.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
<script src="../static/assets/js/desktop.js"></script>
<script src="../static/assets/js/queryMain.js"></script>
<script src="../static/assets/js/user-agent.js"></script>

</body>
