<!doctype html>
<html>
<head>
<!-- Metas -->
  <meta charset="utf-8">
  <title>元智大學2016三資迎新 - 查詢頁面</title>
  <meta name="description" content="元智大學 2016 三資迎新，繳費、報名查詢在這裡唷！">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
  <meta name="author" content="Oschangkai, sappy5678">
  <meta name="keywords" content="元智大學, 元智, 三資迎新, yzu2016camp, 霍格華資, 2016, 三資, 資工, 資管, 資傳" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
<!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/favicon/manifest.json">
  <meta name="theme-color" content="rgba(0,28,49,1)">
  <meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
<!-- CSSs -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/queryStyle.css">
  <link rel="stylesheet" href="../assets/css/desktop.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="cardContainer bg">
  <card class="card loginCard z-depth-4">
    <!-- Card Content -->
    <div class="logoContainer">
      <img class="logo" src="../assets/img/member-round.png">
    </div>
    <br /><br />
    <div class="card-content white-text">
      <p class="card-title" style="text-align: center; vertical-align: middle;">2016 三資迎新查詢系統</p>
      <hr />
      <br />
      <!-- Card Form -->
      <form class="form">
        <div class="choose" id="chooseDIV" onclick="check()">
          <span>請選擇：</span>
          <span>
            <input class="with-gap" name="choose" type="radio" id="paymentRadio" />
            <label for="paymentRadio">繳費登記</label>
          </span>
          <span class="desktop">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span>
            <input class="with-gap" name="choose" type="radio" id="queryRadio" />
            <label for="queryRadio">繳費查詢</label>
          </span>
        </div>
        <div class="input-field" id="emailDIV">
          <i class="material-icons prefix">mail_outline</i>
          <input type="email" name="email" id="emailField" class="validate"></input>
          <label for="emailField" data-error="格式錯誤，請重新輸入" data-success="正確！按下送出查詢">請輸入電子信箱查詢</label>
        </div>
        <br />
        <div class="input-field" id="paymentDIV">
          <i class="material-icons prefix">payment</i>
          <input type="number" name="payment" id="paymentField" class="validate" min="10000" max="99999"></input>
          <label for="paymentField" data-error="格式錯誤，請重新輸入" data-success="記得填入電子信箱後再按下送出登記！">
            帳號後五碼"登記"欄(查詢免填)</label>
        </div>
      </form>
    </div>
    <div class="card-action" style="text-align: right;">
      <a href="#">送出&nbsp;&nbsp;<i class="material-icons submitIt">send</i></a>
   </div>
 </card>
</div>
<div includeHTML="../assets/html/footer.html"></div>
<!-- Scripts -->
<script src="../assets/js/includeHTML.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="../assets/js/desktop.js"></script>
<script src="../assets/js/queryMain.js"></script>

</body>
