<!doctype html>
<html>
<head>
<!-- Metas -->
  <meta charset="utf-8">
  <title>元智大學2016三資迎新 - 註冊頁面</title>
  <meta name="description" content="元智大學 2016 三資迎新，註冊請在這裡填單唷！">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
  <meta name="author" content="Oschangkai, sappy5678">
  <meta name="keywords" content="元智大學, 元智, 三資迎新, yzu2016camp, 霍格華資, 2016, 三資, 資工, 資管, 資傳" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
<!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../static/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/assets/favicon/manifest.json">
  <meta name="theme-color" content="rgba(0,28,49,1)">
  <meta name="msapplication-TileImage" content="../static/assets/favicon/ms-icon-144x144.png">
<!-- CSSs -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
  <link rel="stylesheet" href="../static/assets/css/registerStyle.css">
  <link rel="stylesheet" href="../static/assets/css/desktop.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="bannerContainer">
  <content class="banner">
    <h2 style="margin-top: auto; color: rgba(255, 255, 255, 1);">2016 三資迎新報名頁</h2>
    <p style="color: rgba(255, 255, 255, 0.6);">歡迎參加霍格華資，請詳閱注意事項喔！</p>
  </content>
</div>

<div class="sec1 content">
  <h3>注意事項</h3><hr>
  <content class="secContainer">
    <div class="msgDiv msgDiv-danger secItems-1" style="margin-left: 0%;">
      <h5>填完報名表不代表報名完成！</h5>
      <p>填完以下表單後，請記得至銀行轉帳繳費，並到<a href="../query">這裡</a>填寫繳款帳號後五碼，才算是完成所有報名程序！</p>
      <p>若是以匯款單繳費的學員，請先繳費後再填單，並在備註欄填寫匯款人姓名。</p>
    </div>
    <div class="msgDiv msgDiv-warning secItems-1" style="margin-left: 0%;">
      <h5>注意！</h5>
      <p>完成報名表後，將會有自動信寄送到您的信箱，登記繳費帳號後五碼也必須與報名時的信箱相同，所以請照實填寫！</p>
      <p>若 24 小時未收到自動信，請聯絡我們的<a href="https://fb.com/yzu2016camp">粉絲專頁</a>，將會有熱心的學長姐為您查詢確認唷！<p>
    </div>
    <div class="msgDiv msgDiv-info secItems-2" style="margin-left: 0%;">
      <h5>匯款資訊</h5>
      <p><b>繳費截止日：</b>8/20(六)</p>
      <p><b>報名費用：</b></p>
      <p><b>繳費帳戶：</b></p>
      <p><b>遠東商銀中壢分行 代碼：</b>8050171</p>
      <p><b>帳戶戶名：</b></p>
      <p></p>
    </div>
    <div class="msgDiv msgDiv-info secItems-2">
      <h5>活動資訊</h5>
      <p><b>報名截止日期：</b>8/18(四)</p>
      <p><b>活動日期：</b>8/22(一)&nbsp;&nbsp;—&nbsp;&nbsp;8/26(五)</p>
      <p><b>活動地點：</b></p>
      <p><b>集合入宿時間：</b></p>
      <p>&nbsp;</p>
    </div>
  </content>
</div>

<div class="sec2 content">
  <h3>報名單</h3><hr>
  <form id="K-form">
<!-- Form Section1 -->
    <div class="secContainer">
      <h5 class="formTitle">基本資料</h5>

      <div class="input-field secItems-3" id="nameDIV">
        <i class="material-icons prefix">person</i>
        <input type="text" name="name" id="nameField"></input>
        <label for="nameField">姓名</label>
      </div>

      <div class="input-field secItems-3" id="nickNameDIV">
        <i class="material-icons prefix mobile">person</i>
        <input type="text" name="nickName" id="nickNameField"></input>
        <label for="nickNameField">綽號</label>
      </div>

      <div class="radioBtn-field secItems-3" id="genderDIV">
        <i class="material-icons prefix">wc</i>
        <label class="radLbl">性別</label>
        <input class="with-gap" name="gender" type="radio" value="男" id="genderMaleRadio" />
        <label class="rad" for="genderMaleRadio">男</label>
        <input class="with-gap" name="gender" type="radio" value="女" id="genderFemaleRadio" />
        <label for="genderFemaleRadio">女</label>
      </div>

      <div class="input-field secItems-2" id="cellphoneDIV">
        <i class="material-icons prefix">smartphone</i>
        <input type="tel" name="cellphone" id="cellphoneField"></input>
        <label for="cellphoneField">聯絡電話（本人手機）</label>
      </div>

      <div class="input-field secItems-2" id="emailDIV">
        <i class="material-icons prefix">email</i>
        <input type="email" name="email" id="emailField" class="validate"></input>
        <label for="emailField" data-error="格式錯誤，請重新輸入" data-success="正確！">電子信箱</label>
      </div>

    </div><br />
<!-- Form Section2 -->
    <div class="secContainer">
      <h5 class="formTitle">保險所需額外資料</h5>

      <!-- disabled, not necessary filed -->
      <div class="input-field" id="birthdayDIV" hidden>
        <i class="material-icons prefix">cake</i>
        <input type="date" id="birthdayField" disabled></input>
        <label for="birthdayField">出生年月日</label>
      </div>

      <div class="input-field secItems-2" id="userIDDIV">
        <i class="material-icons prefix">assignment_ind</i>
        <input type="text" name="userID" id="userIDField"></input>
        <label for="userIDField">身分證字號</label>
      </div>

      <div class="input-field secItems-2" id="addressDIV">
        <i class="material-icons prefix">location_city</i><!-- business -->
        <input type="text" name="address" id="addressField"></input>
        <label for="addressField">戶籍地址</label>
      </div>

      <!-- disabled, not necessary filed -->
      <div class="input-field" id="phoneDIV" hidden>
        <i class="material-icons prefix">phone</i>
        <input type="tel" id="phoneField" disabled></input>
        <label for="phoneField">家用電話</label>
      </div>

      <div class="input-field secItems-3" id="parentNameDIV">
        <i class="material-icons prefix">account_box</i>
        <input type="text" name="parentName" id="parentNameField"></input>
        <label for="parentNameField">緊急聯絡人姓名</label>
      </div>

      <div class="input-field secItems-3" id="kinshipDIV">
        <i class="material-icons prefix">supervisor_account</i>
        <input type="text" name="kinship" id="kinshipField"></input>
        <label for="kinshipField">與緊急聯絡人的親屬關係</label>
      </div>

      <div class="input-field secItems-3" id="parentCellphoneDIV">
        <i class="material-icons prefix">contact_phone</i>
        <input type="tel" name="parentCellphone" id="parentCellphoneField"></input>
        <label for="parentCellphoneField">緊急聯絡人聯絡電話</label>
      </div>

      <div class="input-field secItems-1" id="diseaseDIV">
        <i class="material-icons prefix">nature_people</i>
        <input type="text" name="disease" id="diseaseField" placeholder="若無，請填寫「無」"></input>
        <label for="diseaseField">先天性疾病</label>
      </div>

    </div><br />
<!-- Form Section3 -->
    <div class="secContainer">
      <h5 class="formTitle">學校資料</h5>

      <div class="input-field secItems-2" id="yzuIDDIV">
        <i class="material-icons prefix">chrome_reader_mode</i>
        <input type="number" name="yzuID" id="yzuIDField" min="1051301" max="1053389" class="validate"></input>
        <label for="yzuIDField" data-error="錯誤，請輸入正確的學號" data-success="正確！">元智大學學號</label>
      </div>

      <div class="input-field secItems-2" id="transportationDIV">
        <i class="material-icons prefix">school</i>
        <select name="dept">
          <option value="" disabled selected>請選擇您的學系</option>
          <option name="dept" value="CSE">資工系</option>
          <option name="dept" value="IM">資管系</option>
          <option name="dept" value="IC">資傳系</option>
        </select>
        <label>學系</label>
      </div>

    </div><br />
<!-- Form Section4 -->
    <div class="secContainer">
      <h5 class="formTitle">營期所需資料</h5>

      <div class="radioBtn-field secItems-2"id="eatingPerfDIV">
        <i class="material-icons prefix">restaurant</i>
        <label class="radLbl">飲食習慣</label>
        <input class="with-gap" name="eatingPerf" type="radio" value="non-Vegetarian" id="eatingPerfnonVegeRadio" />
        <label class="rad2" for="eatingPerfnonVegeRadio">葷</label>
        <input class="with-gap" name="eatingPerf" type="radio" value="Vegetarian" id="eatingPerfVegeRadio" />
        <label for="eatingPerfVegeRadio">素</label>
      </div>

      <div class="input-field secItems-2" id="clothingSizeDIV">
        <i class="material-icons prefix">accessibility</i>
        <select name="clothingSize">
          <option value="" disabled selected>請選擇您的衣服尺寸</option>
          <option name="clothingSize" value="XS">XS</option>
          <option name="clothingSize" value="S">S</option>
          <option name="clothingSize" value="M">M</option>
          <option name="clothingSize" value="L">L</option>
          <option name="clothingSize" value="XL">XL</option>
          <option name="clothingSize" value="XXL">XXL</option>
        </select>
        <label>衣服尺寸<a href="/clothingSize">（尺寸參考表按此）</a></label>
      </div>

      <div class="radioBtn-field secItems-2" id="transportationDIV">
        <i class="material-icons prefix">directions_transit</i>
        <label class="radLbl">交通方式</label>
        <input class="with-gap" name="transportation" type="radio" value="直達元智" id="transportationToYZURadio" />
        <label class="rad2" for="transportationToYZURadio">直達元智</label>
        <input class="with-gap" name="transportation" type="radio" value="內壢車站" id="transportationByTrainRadio" />
        <label for="transportationByTrainRadio">搭乘火車到內壢車站</label>
      </div>

      <div class="input-field secItems-2" id="beddingDIV">
        <i class="material-icons prefix">hotel</i>
        <select name="bedding">
          <option value="" disabled selected>請選擇迎期寢具準備方式</option>
          <option name="bedding" value="自行準備">我會自行準備（宿舍是木板床喔！）</option>
          <option name="bedding" value="已訂購">我已在新生包中訂購床組，當天會到場領取！</option>
        </select>
        <label>寢具</label>
      </div>

      <div class="input-field secItems-1" id="moreInfoDIV">
        <i class="material-icons prefix">mode_edit</i>
        <textarea name="moreInfo" id="moreInfo" class="materialize-textarea" length="200"  placeholder="備註欄（如果以實體匯款單方式繳費，請在此留下繳款人姓名）"></textarea>
      </div>

    </div>

  </form>
  <div class="submit">
      <a href="#" id="K-submit" onclick="send()" class="waves-effect btn-flat" style="margin-right: 0px; background-color: rgba(0, 0, 0, 0.05)">送出&nbsp;&nbsp;<i class="material-icons submitIt">send</i></a>
  </div>
</div>
<div includeHTML="../static/assets/html/footer.html"></div>
  <!-- Scripts -->
  <script src="../static/assets/js/includeHTML.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="../static/assets/js/desktop.js"></script>
  <script src="../static/assets/js/registerMain.js"></script>
</body>
