<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>statistics</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <button type="button" id="isPay">繳費情況</button>
    <button type="button" id="gender">男女</button>
    <button type="button" id="dept">系所</button>
    <button type="button" id="clothingSize">衣服尺寸</button>
    <button type="button" id="eatingPerf">葷素</button>
    <button type="button" id="transportation">需接送</button>
    <button type="button" id="bedding">床墊訂購/自備</button>

    <div id="chartContainer"></div>

    <script src="../static/assets/js/statistics.js"></script>
</body>
</html>